.DS_Store
BraSeqTB.code-workspace
.env
.vscode/
*.log
tmp/

data/mock_data/
data/test_data/

resources/exit_rif/

containers/bratb-container/resistance_db_who

*/**/*fastq.gz
*/**/*fasta
*/**/*gbk
*/**/*dot
*/**/*svg
*/**/*mp4

.idea
work/
data/full_data
results*
*.nextflow*

conda_envs/bratb-env*
containers/**/*yml

bratb.csv
bratb.sh
.Rproj.user
