process {
    //specifies the conda environments for the different stages
    withName: trimReads {
      conda = 'trim-galore'
    }

    withName: mapping {
       conda = 'bwa'
    }

    withName: multiqc {
      conda = 'multiqc'
    }

        withName: keiju {
      conda = 'keiju'
    }

        withName: tbprofile {
      conda = 'tbprofile'
    }

        withName: delly {
      conda = 'delly'
    }
    
        withName: gatk {
      conda = 'gatk'
    }
    
        withName: snpeff {
      conda = 'snpeff'
    }
    
        withName: lofreq {
      conda = 'lofreq'
    }

}
