/*
 * Copyright (c) 2024 LAPAM.
 *
 */

manifest {
  description = 'BRATB Nextflow'
  author = 'Louise Cerdeira'
}

/*
 * defines execution profiles for different environments
 */

params {
  trim_galore_args = ""
  bwa_args = ""       
  multiqc_args = ""              
  kaiju_args = ""           
  lofreq_args = ""                
  gatk_args = ""         
  tbprofile_args = ""              
  snpeff_args = ""         
  delly_args = ""
  trim = false
  help = false
}

profiles {

  standard {
    process.executor = 'local'
    includeConfig 'conda.config'
  }

  slurm {
    includeConfig 'slurm.config'
  }
}
