params {
    conda_envs_location = "${projectDir}/conda_envs"
}

conda {
    enabled = true
}

process {


    withName:
    'TBPROFILER.*' {
        //environment does exist:
        conda = "${params.conda_envs_location}/bratb-tbprofiler-env"

        //environment does NOT exist: the env file contains all the info to create the environment "bratb-env"
        //conda = "${params.conda_envs_location}/bratb-tbprofiler-env.yml"
    }


    withName:
    'ISMAPPER.*|GATK.*|LOFREQ.*|DELLY.*|MULTIQC.*|FASTQC.*|UTILS.*|FASTQ.*|SAMPLESHEET.*' {
        //environment does exist:
        conda = "${params.conda_envs_location}/bratb-env"

        //environment does NOT exist: the env file contains all the info to create the environment "bratb-env"
        //conda = "${params.conda_envs_location}/bratb-env.yml"
    }

    withName:
    'BWA.*|IQTREE.*|SNPDISTS.*|SNPSITES.*|BCFTOOLS.*|BGZIP.*|SAMTOOLS.*|SNPEFF.*|CLUSTERPICKER.*' {
        //environment does exist:
        conda = "${params.conda_envs_location}/mapping-env"

        //environment does NOT exist: the env file contains all the info to create the environment "mapping-env"
        //conda = "${params.conda_envs_location}/mapping-env.yml"

    }

}
