//NOTE: Result directories used in bratb_main.py
// os.path.join(args['output_dir'], 'mapped_singles')
// os.path.join(args['output_dir'], 'mapped')
// os.path.join(args['output_dir'], 'gvcf')
// os.path.join(args['output_dir'], 'stats')
// os.path.join(args['output_dir'], 'fastqc')
// os.path.join(args['output_dir'], 'quanttb')
// os.path.join(args['output_dir'], 'checkpoints')
// os.path.join(args['output_dir'], 'resistance/lofreq')
// os.path.join(args['output_dir'], 'structural_vars')
// os.path.join(args['output_dir'], 'minor_vars')
// os.path.join(args['output_dir'], 'logs/error')
// os.path.join(args['output_dir'], 'logs/info')]

// os.path.join(args['output_dir'], 'vcf/{}'.format(args['vcf_name']))
// os.path.join(args['output_dir'], 'vqsr/{}'.format(args['vcf_name']))
// os.path.join(args['output_dir'], 'fasta/{}'.format(args['vcf_name']))
// os.path.join(args['output_dir'], 'phylogeny/{}'.format(args['vcf_name']))
// os.path.join(args['output_dir'], 'resistance/{}/bratb'.format(args['vcf_name']))
// os.path.join(args['output_dir'], 'logs/{}.summary'.format(args['vcf_name'])), 'w')


params {

    input_samplesheet = "${projectDir}/data/input-data/bratb.csv"
    outdir = "${projectDir}/results"

}

executor {
    queueSize = 10
}

process {
    executor = "pbs"
    queue = "scattergather"
    clusterOptions = "-A GHI "

    cpus = 4
    memory = 8.GB

    withName: '.*QUANTTB.*' {
        memory = 32.GB
    }
}
